<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="handleAuth()" [disabled]="loading" class="btn btn-lg btn-google btn-block text-uppercase btn-outline">
          <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1712537582/google-logo.png"> 
          <span *ngIf="!loading">Signup Using Google</span>
          <span *ngIf="loading">Starting...</span>
        </button>
      </div>
    </div>
  </div>
</section>